# BrowserStack Configuration
# Copia este archivo a .env si quieres usar variables de entorno

BROWSERSTACK_USERNAME=david3360
BROWSERSTACK_ACCESS_KEY=CHYMa7RyuRpFNz6T3t8q

# Geolocalización
BROWSERSTACK_GEO_LOCATION=CO
BROWSERSTACK_TIMEZONE=America/Bogota

# Configuración de build
BROWSERSTACK_BUILD_NAME=browserstack-build-1
BROWSERSTACK_PROJECT_NAME=BrowserStack Sample

# BrowserStack Local
BROWSERSTACK_LOCAL=true
BROWSERSTACK_DEBUG=true

# URL base de la aplicación
WEBDRIVER_BASE_URL=https://webx.muthematrix.com/

